.order-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

 .form-min {
  width: 100%;
 }

 #name {
  text-transform: uppercase;
 }

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
